@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Commissioner", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: black;
}

h1,
.h1 {
  font-size: 1.275rem;
  line-height: 1.2;
}

h2,
.h2 {
  margin: 20px 0 20px;
  font-size: 1.2rem;
  line-height: 1.2;
}

h3,
.h3 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  line-height: 1;
}

p {
  font-size: 0.91rem;
  line-height: 1.6;
  color: #7a7a7a;
}

.big-text {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 700;
  color: black;
}

@media (min-width: 600px) {
  h1,
.h1 {
    font-size: 1.8rem;
  }

  h2,
.h2 {
    margin: 0 0 50px;
    line-height: 1;
    font-size: 1.275rem;
  }

  .modal h2,
.modal .h2 {
    font-size: 1.5rem;
  }
  .modal h3,
.modal .h3 {
    font-size: 1rem;
  }
  .modal p {
    font-size: 0.925rem;
    font-weight: 500;
    line-height: 1.7;
  }
  .modal .modal__text {
    font-size: 1rem;
  }

  h3,
.h3 {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2;
  }
}
.btn {
  display: inline-block;
  padding: 20px 45px;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.btn-primary,
.btn-success {
  background-color: #3cb4ac;
}
.btn-primary:hover,
.btn-success:hover {
  background-color: #147b74;
}

.btn-secondary {
  background-color: #7a7a7a;
}

.btn-rounded {
  height: 55px;
  width: 55px;
  padding: 0;
  background-image: url(../../images/icon-bookmark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-success {
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 15px 30px;
}

body {
  background-color: #f2f2f2;
}

.main-container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
}

.inner-container,
.flex-container {
  margin: 0 auto;
}

.inner-container {
  max-width: 780px;
  min-width: 325px;
}

.container {
  margin: 0 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

.flex-container {
  max-width: 1160px;
  padding: 25px;
}

.top-bg-img {
  height: 300px;
  width: 100%;
  max-width: 1440px;
  background-image: url(../../images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
}

.footer-form__value {
  position: relative;
}
.footer-form__value::before {
  content: "$";
  position: absolute;
  left: 20px;
  top: 14px;
  color: #bfbfbf;
}
.footer-form__value input {
  width: 100px;
  border: 1px solid #dedede;
  line-height: 1;
  padding: 15px 30px;
  padding-right: 15px;
  border-radius: 30px;
  text-align: left;
  font-weight: 700;
  -moz-appearance: textfield;
}
.footer-form__value input:focus, .footer-form__value input:active {
  outline: 1px solid #3cb4ac;
}
.footer-form__value input::-webkit-outer-spin-button,
.footer-form__value input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.footer-form__button {
  border: none;
  padding: 17px 20px;
  line-height: 1;
  font-family: "Commissioner", sans-serif;
}

.nav {
  position: relative;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo, .nav-toggler {
  position: relative;
  z-index: 2;
}
.nav-toggler {
  background: transparent;
  border: none;
  cursor: pointer;
}
.nav-toggler > :first-child {
  display: block;
}
.nav-toggler > :last-child {
  display: none;
}
.nav-list {
  display: none;
  position: absolute;
  margin: 0 25px;
  padding: 0;
  width: calc(100% - 50px);
  top: 90px;
  left: 0;
  z-index: 2;
  border-radius: 10px;
  list-style: none;
  background-color: white;
}
.nav-item {
  display: block;
  padding: 25px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  line-height: 1.1;
  border-bottom: 1px solid #e6e6e6;
}
.nav-item:hover {
  font-weight: 700;
}

.nav--expanded.nav::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.nav--expanded .nav-list {
  display: block;
}
.nav--expanded .nav-toggler > :first-child {
  display: none;
}
.nav--expanded .nav-toggler > :last-child {
  display: block;
}

@media (min-width: 600px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-logo {
    flex: 1;
  }
  .nav-logo img {
    width: 130px;
  }
  .nav-toggler {
    display: none;
  }
  .nav-list {
    flex: 1;
    display: flex;
    justify-content: end;
    position: relative;
    top: 0;
    margin: 0;
    background-color: transparent;
  }
  .nav-item {
    margin-left: 30px;
    padding: 0;
    border: none;
    font-size: 0.85rem;
    font-weight: 300;
    color: white;
  }
}
.header {
  position: relative;
  margin-top: -55px;
  padding-bottom: 40px;
  text-align: center;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 55px;
  height: 55px;
  transform: translate(-50%, -50%);
  background-image: url(../../images/logo-mastercraft.svg);
  background-size: cover;
}
.header__buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.header__title {
  padding: 30px 10px 0;
}
.header__text {
  margin: 20px 0;
}

@media (min-width: 600px) {
  .header {
    margin-top: -90px;
  }
  .header__buttons {
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  .header__buttons a + a {
    position: relative;
    margin-right: 115px;
  }
  .header__buttons a + a::after {
    content: "Bookmark";
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 25px;
    padding-left: 50px;
    border-radius: 25px;
    background-color: #f2f2f2;
    color: #7a7a7a;
    z-index: -1;
  }
  .header__title {
    padding: 10px 10px 0;
  }
  .header__text {
    margin-bottom: 40px;
  }
}
.info {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.info__cell {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.info__cell::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 80px;
  transform: translateX(-50%);
  background-color: #bfbfbf;
}
.info__cell:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.info__cell:last-child::after {
  display: none;
}
.info__progressbar {
  margin: 35px 0 15px;
}

.progress {
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}
.progress, .progress-bar {
  height: 12px;
  border-radius: 10px;
}
.progress-bar {
  width: 89.9%;
  background-color: #3cb4ac;
}

@media (min-width: 600px) {
  .info__cells {
    display: flex;
    gap: 50px;
    text-align: left;
  }
  .info__cell {
    flex: 1 1 33.3%;
    margin: 0;
    padding: 0;
    border-right: 1px solid #dedede;
  }
  .info__cell::after {
    display: none;
  }
  .info__cell:last-child {
    border: none;
  }
  .info__price {
    line-height: 1;
    margin-bottom: 10px;
  }

  .progress {
    margin: 40px 0 0;
  }
}
.article__text {
  margin-bottom: 30px;
}
.article p + p {
  margin-bottom: 40px;
}

.card {
  margin: 25px 0;
  padding: 25px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}
.card__header {
  margin-bottom: 25px;
}
.card__header p {
  color: #3cb4ac;
  font-weight: 500;
}
.card--disabled {
  border-color: #dfdfdf;
}
.card--disabled h3,
.card--disabled .big-text {
  color: #bfbfbf;
}
.card--disabled .card__header p {
  color: #a7ddda;
}
.card--disabled p {
  color: #bfbfbf;
}
.card--disabled .btn {
  background-color: #dedede;
}
.card__footer p {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .card__footer p {
    margin: 0;
  }
  .card__footer .btn {
    padding: 15px 30px;
    font-size: 0.85rem;
    line-height: 1.2;
    font-weight: 500;
  }
  .card:last-of-type {
    margin: 0;
  }
}
.modal,
.modal-success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.modal-container,
.modal-success-container {
  position: relative;
  padding: 25px;
  max-width: 730px;
  min-width: 320px;
  margin: 25px;
  border-radius: 10px;
  background-color: white;
}

.modal .btn-close {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__title {
  margin: 0 0 35px;
}
.modal-card {
  margin: 25px 0;
  padding: 25px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}
.modal-card__header {
  margin-bottom: 25px;
}
.modal-card__header p {
  color: #3cb4ac;
  font-weight: 500;
}
.modal-card--disabled {
  border-color: #dfdfdf;
}
.modal-card--disabled h3,
.modal-card--disabled .big-text {
  color: #bfbfbf;
}
.modal-card--disabled .card__header p {
  color: #a7ddda;
}
.modal-card--disabled p {
  color: #bfbfbf;
}
.modal-card--disabled .btn {
  background-color: #dedede;
}
.modal-card__radio-button {
  display: inline-block;
}
.modal-card__radio-button input {
  display: block;
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
  appearance: none;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
}
.modal-card__radio-button input:active {
  outline: 1px solid #7a7a7a;
}
.modal-card__radio-button input:checked {
  border: 5px solid white;
  outline: 1px solid #bfbfbf;
  background-color: #3cb4ac;
}
.modal-card#no-reward .modal-card__header {
  position: relative;
  width: 80%;
}
.modal-card#no-reward .modal-card__title {
  position: absolute;
  top: 0;
  left: 0;
}
.modal-card__header {
  display: inline-block;
  margin-left: 5px;
}
.modal-card__text {
  margin: 5px 0 20px;
}
.modal-card__stock {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal-card__footer {
  display: none;
}
.modal-card--disabled .modal-card__label {
  color: #a7ddda;
}
.modal-card--active {
  border: 2px solid;
  border-color: #3cb4ac;
}
.modal-card--active .modal-card__label, .modal-card--active .modal-card__title {
  font-weight: 700;
}
.modal-card--active .modal-card__footer {
  display: block;
  border-top: 1px solid #dedede;
}
.modal-card .footer-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px;
}
.modal-card .footer-form__label {
  color: #7a7a7a;
  font-weight: 500;
}
.modal-card .footer-form__value {
  margin-left: auto;
  margin-right: 20px;
}
.modal .big-text {
  font-size: 1.15rem;
}

.modal-success-container {
  max-width: 540px;
  padding: 30px 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-success__title {
  margin: 25px 0 25px;
}
.modal-success__text {
  margin-bottom: 40px;
  text-align: center;
}

.modal,
.modal-success {
  display: none;
}

@media (min-width: 600px) {
  .modal-container {
    position: relative;
    padding: 50px;
  }
  .modal__title {
    margin: 5px 0 20px;
  }
  .modal__text {
    margin-bottom: 35px;
  }
  .modal-card {
    padding: 0px;
  }
  .modal-card__body {
    display: grid;
    grid-template: "left center right" ". text text"/auto 1fr auto;
    gap: 20px;
    padding: 30px;
  }
  .modal-card#no-reward .modal-card__header {
    position: relative;
    width: auto;
  }
  .modal-card#no-reward .modal-card__title {
    position: relative;
    top: auto;
    left: auto;
  }
  .modal-card__radio-button {
    grid-area: left;
    align-self: center;
  }
  .modal-card__radio-button input {
    margin: 0;
  }
  .modal-card__header {
    grid-area: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
  }
  .modal-card__text {
    grid-area: text;
    margin: 0;
  }
  .modal-card__stock {
    grid-area: right;
    align-self: start;
    justify-self: end;
  }
  .modal-card__stock .big-text {
    line-height: 1;
  }

  .modal-success-container {
    padding: 45px 45px 50px;
  }
  .modal-success__img {
    width: 90px;
  }
  .modal-success__title {
    font-size: 1.5rem;
    margin: 50px 0 20px;
  }
  .modal-success__text {
    margin-bottom: 30px;
  }
}
@media (min-width: 600px) {
  .container {
    padding: 50px;
  }

  .top-bg-img {
    height: 400px;
    background-image: url(../../images/image-hero-desktop.jpg);
  }

  .article p {
    line-height: 1.9;
  }
}

/*# sourceMappingURL=style.css.map */
