.header {
  position: relative;
  margin-top: -55px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    background-image: url(../../images/logo-mastercraft.svg);
    background-size: cover;
  }

  &__buttons {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }

  &__title {
    padding: 30px 10px 0;
  }

  &__text {
    margin: 25px 0;
  }
}
