.header {
  position: relative;
  margin-top: -55px;
  padding-bottom: 40px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    background-image: url(../images/logo-mastercraft.svg);
    background-size: cover;
  }

  &__buttons {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }

  #bookmark {
    &::after {
      display: none;
    }
  }

  &__title {
    padding: 30px 10px 0;
  }

  &__text {
    margin: 20px 0;
  }
}

@include mq {
  .header {
    margin-top: -90px;

    &__buttons {
      justify-content: space-between;
      position: relative;
      z-index: 1;
    }

    #bookmark {
      margin-right: 115px;

      &::after {
        display: block;
      }
    }

    &__title {
      padding: 10px 10px 0;
    }

    &__text {
      margin-bottom: 40px;
    }
  }
}
