.info {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;

  &__cell {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 80px;
      transform: translateX(-50%);
      background-color: $light-gray-200;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  &__progressbar {
    margin: 35px 0 15px;
  }
}

.progress {
  width: 100%;
  background-color: $light-gray-100;
  overflow: hidden;

  &,
  &-bar {
    height: 12px;
    border-radius: 10px;
  }

  &-bar {
    width: 89.9%;
    background-color: $Moderate-cyan;
  }
}

@include mq {
  .info {
    &__cells {
      display: flex;
      gap: 50px;
      text-align: left;
    }

    &__cell {
      flex: 1 1 33.3%;
      margin: 0;
      padding: 0;
      border-right: 1px solid $light-gray-150;

      &::after {
        display: none;
      }

      &:last-child {
        border: none;
      }
    }

    &__price {
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .progress {
    margin: 40px 0 0;
  }
}
