@use '../abstracts/misc' as *;

// Layout
.modal,
.modal-success {
  display: none;
}

body {
  background-color: $light-gray;
}

.main-container {
  margin: 0 auto;
  width: 100vw;
  max-width: $max-width;
}

.inner-container,
.flex-container {
  margin: 0 auto;
}

.inner-container {
  max-width: $inner-max-width;
  min-width: $min-width;
}

.container {
  margin: 0 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

.flex-container {
  max-width: $container-flex-max-width;
  padding: 25px;
}

.top-bg-img {
  height: 300px;
  width: 100%;
  max-width: $max-width;
  background-image: url(../../images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
}

@import '../components/components';
@import 'nav';
@import 'header';
