@use '../abstracts/misc' as *;

// Layout
.modal,
.modal-success {
  display: none;
}

body {
  display: grid;
  place-content: center;
}

.main-container {
  width: 100vw;
  max-width: $max-width;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: $container-max-width;
  min-width: $min-width;
  width: 100%;
}

.container--flex {
  max-width: $container-flex-max-width;
}

.top-bg-img {
  height: 300px;
  width: 100%;
  max-width: $max-width;
  background-image: url(../../images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
}

@import 'nav';
