$container-padding: 25px;

.modal,
.modal-success {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  place-content: center;

  background-color: rgba($color: black, $alpha: 0.7);
  z-index: 3;

  &-container {
    position: relative;
    padding: $container-padding;
    max-width: 730px;
    min-width: 320px;
    margin: 25px;
    border-radius: 10px;

    background-color: white;
  }
}

.modal {
  .btn-close {
    position: absolute;
    right: $container-padding;
    top: $container-padding;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      svg path {
        opacity: 1;
      }
    }
  }

  &__title {
    margin: 0 0 35px;
  }

  &-card {
    @include card;
    padding: 0;

    &__body {
      padding: 25px;
    }

    &__radio-button {
      display: inline-block;

      input {
        display: block;
        width: 22px;
        height: 22px;
        margin-bottom: 4px;

        appearance: none;
        border: 1px solid $light-gray-200;
        border-radius: 50%;

        &:active {
          outline: 1px solid $Dark-gray;
        }

        &:checked {
          border: 5px solid white;
          outline: 1px solid $light-gray-200;
          background-color: $Moderate-cyan;
        }
      }
    }

    &#no-reward & {
      &__header {
        position: relative;
        width: 80%;
      }
      &__title {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__title {
      &:hover {
        color: $Moderate-cyan;
        font-weight: 700;
      }
    }

    &__header {
      display: inline-block;
      margin-left: 5px;
    }

    &__text {
      margin: 5px 0 20px;
    }

    &__stock {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__footer {
      display: none;
    }

    &--disabled & {
      &__label {
        color: $Moderate-cyan-200;
      }
    }

    &--active {
      border: 2px solid;
      border-color: $Moderate-cyan;

      .modal-card {
        &__label,
        &__title {
          font-weight: 700;
        }

        &__footer {
          display: block;
          border-top: 1px solid $light-gray-150;
        }
      }
    }

    .footer-form {
      margin: 25px 30px;
      text-align: center;

      &__label {
        color: $Dark-gray;
        font-weight: 500;
        display: block;
        margin-bottom: 20px;
      }

      &__value {
        display: inline-block;
      }

      &__button {
        margin-left: 15px;
        display: inline-block;
        font-size: 0.85rem;
      }
    }
  }

  .big-text {
    font-size: 1.15rem;
  }
}

.modal-success {
  &-container {
    max-width: 540px;
    padding: 30px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 25px 0 25px;
  }

  &__text {
    margin-bottom: 40px;
    text-align: center;
  }
}

@include mq {
  .modal {
    $container-padding: 50px;

    &-container {
      position: relative;
      padding: $container-padding;
    }

    &__title {
      margin: 5px 0 20px;
    }

    &__text {
      margin-bottom: 35px;
    }

    &-card {
      padding: 0px;

      &__body {
        display: grid;
        grid-template:
          'left center right'
          '. text text'
          /
          auto 1fr auto;
        gap: 20px;
        padding: 30px;
      }

      &#no-reward & {
        &__header {
          position: relative;
          width: auto;
        }
        &__title {
          position: relative;
          top: auto;
          left: auto;
        }
      }

      &__radio-button {
        grid-area: left;
        align-self: center;
        input {
          margin: 0;
        }
      }

      &__header {
        grid-area: center;
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;
      }

      &__text {
        grid-area: text;
        margin: 0;
      }

      &__stock {
        grid-area: right;
        align-self: start;
        justify-self: end;

        .big-text {
          line-height: 1;
        }
      }
    }
  }

  .footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__value {
      margin-left: auto;
      margin-right: 20px;
    }
  }

  .modal-success {
    &-container {
      padding: 45px 45px 50px;
    }

    &__img {
      width: 90px;
    }

    &__title {
      font-size: 1.5rem;
      margin: 50px 0 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}
