.card {
  @include card;

  &__footer {
    p {
      margin: 20px 0;

      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &--disabled {
    border-color: mix($light-gray-200, white, 50%);

    h3,
    .big-text {
      color: $light-gray-200;
    }

    .card__header {
      p {
        color: $Moderate-cyan-200;
      }
    }

    p {
      color: $light-gray-200;
    }

    .btn {
      background-color: $light-gray-150;
    }
  }
}

@include mq {
  .card {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      p {
        margin: 0;
      }

      .btn {
        padding: 15px 30px;
        font-size: 0.85rem;
        line-height: 1.2;
        font-weight: 500;
      }
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
