// Components

.btn {
  display: inline-block;
  padding: 20px 45px;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.btn-primary,
.btn-success {
  background-color: $Moderate-cyan;

  &:hover {
    background-color: $Dark-cyan;
  }
}

.btn-secondary {
  background-color: $Dark-gray;
}

.btn-rounded {
  height: 55px;
  width: 55px;
  padding: 0;

  position: relative;
  margin-right: 115px;

  &::after {
    content: 'Bookmark';
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);

    padding: 20px 25px;
    padding-left: 50px;
    border-radius: 25px;

    background-color: $light-gray-100;
    color: $Dark-gray;
    z-index: -1;
  }

  &.active {
    &::after {
      color: $Dark-cyan;
    }
    svg {
      circle {
        fill: $Dark-cyan;
      }
      path {
        fill: white;
      }
    }
  }
}

.btn-success {
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 15px 30px;
}

body {
  background-color: $light-gray-100;
}

.main-container {
  margin: 0 auto;
  width: 100vw;
  max-width: $max-width;
}

.inner-container,
.flex-container {
  margin: 0 auto;
}

.inner-container {
  max-width: $inner-max-width;
  min-width: $min-width;
}

.container {
  margin: 0 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

.flex-container {
  max-width: $container-flex-max-width;
  padding: 25px;
}

.top-bg-img {
  height: 300px;
  width: 100%;
  max-width: $max-width;
  background-image: url(../../images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
}

.footer-form {
  &__value {
    position: relative;

    &::before {
      content: '$';
      position: absolute;
      left: 20px;
      top: 14px;
      color: $light-gray-200;
    }
    input {
      width: 100px;
      border: 1px solid $light-gray-150;
      line-height: 1;
      padding: 15px 30px;
      padding-right: 15px;
      border-radius: 30px;
      text-align: left;
      font-weight: 700;
      -moz-appearance: textfield;

      &:focus,
      &:active {
        outline: 1px solid $Moderate-cyan;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__button {
    border: none;
    padding: 15px 25px;
    line-height: 1.4;
    font-family: 'Commissioner', sans-serif;
  }
}
