// Components

.btn {
  display: inline-block;
  padding: 20px 45px;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.btn-primary {
  background-color: $Moderate-cyan;

  &:hover {
    background-color: $Dark-cyan;
  }
}

.btn-secondary {
  background-color: $Dark-gray;
}

.btn-rounded {
  height: 55px;
  width: 55px;
  padding: 0;
  background-image: url(../../images/icon-bookmark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal,
.modal-success {
  display: none;
}

body {
  background-color: $light-gray-100;
}

.main-container {
  margin: 0 auto;
  width: 100vw;
  max-width: $max-width;
}

.inner-container,
.flex-container {
  margin: 0 auto;
}

.inner-container {
  max-width: $inner-max-width;
  min-width: $min-width;
}

.container {
  margin: 0 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

.flex-container {
  max-width: $container-flex-max-width;
  padding: 25px;
}

.top-bg-img {
  height: 300px;
  width: 100%;
  max-width: $max-width;
  background-image: url(../../images/image-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
}
