// ## Colors

// ### Primary

$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);

// ### Neutral

$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);

// Layout
$max-width: 1440px;
$min-width: 325px;
$container-max-width: 600px;
$container-flex-max-width: 1000px;
